@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');

.container {
    font-family: 'Epilogue';
    display: flex;
    height: 48px;
    margin-top: 15px;
    max-width: 1500px;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 725px;
    list-style: none;
    margin: 0 auto;
    padding: 10px 30px 0 30px;
    
    & li {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        
        &:first-child {
            margin-left: 105px;
        }

        &:last-child {
            margin-right: 105px;
        }
    }

    & a {
        font-size: 14px;
        line-height: 30px;
        color: #FFFFFF;
        text-decoration: none;

        &:hover {
            color: gray;
            cursor: pointer;
        }
    }
}

.button {
    font-family: 'Epilogue';
    font-size: 14px;
    width: 138px;
    color: #FFFFFF;
    background-color: #28293E;
    border: 1px solid #3d384d;
    border-radius: 10px;

    &:hover {
        color: gray;
        cursor: pointer;
    }
}