@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&display=swap');

.container {
    max-width: 1580px;
    justify-content: flex-start;
}

.imageList {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.image {

    background-color: #FDF0E9;
    list-style-type: none;

    &__item {
        display: flex;
        justify-content: center;
        position: relative;
        width: 378px;
        height: 424px;
        margin: 8.5px 8.5px;
        border-radius: 12px;
    }

    &__button {
        position: absolute;
        top: 275px;
        left: 50px;
        width: 90px;
        height: 40px;
        font-weight: 400;
        font-size: 16px;
        background-color: #FFFF;
        color: #391400;
        border-radius: 25px;
        border: 1px solid #FFFF;

        &:hover {
            cursor: pointer;
        }
    }

    &__title {
        position: absolute;
        top: 340px;
        left: 50px;
        color: #FFFF;
        font-weight: 400;
        font-size: 40px;
    }

    &__img {
        align-self: center;
        justify-content: center;
        border-radius: 10px;
        width: 370px;
        height: 416px;
    }
}

.imageActive {
    background-color: #16CD53;
}

@media (max-width: 1040px) {
    .container {
        max-width: 380px;
    }

    .image {

        &__item {
            width: 337px;
            margin: 8.5px 0px;
        }

        &__button {
            left: 40px;
        }

        &__title {
            left: 40px;

        }

        &__img {
            width: 329px;
            height: 416px;
        }
    }

    .imageActive {
        background-color: #16CD53;
    }
}